<%= image_tag("img_car.jpg", :alt => "Car", :style => "width: 100%;") %>

<div class="w3-container">
  <p>A car is a wheeled, self-powered motor vehicle used for transportation.</p>
</div><!-- End .w3-container -->
